[submodule "extras/jalangilogger"]
	path = extras/jalangilogger
	url = https://github.com/theosotr/jalangilogger.git
	branch = master
[submodule "extras/inspector"]
	path = extras/inspector
	url = https://github.com/theosotr/TAJS-Inspector.git
	branch = master
